.masters {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .masters__title {
    font-family: "Jost", sans-serif;
    font-size: 45px;
    line-height: 54px;
    color: $dark-green;
  }
  .masters__subtitle {
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: "Ibarra Real Nova", serif;
    font-style: italic;
    font-size: 19px;
    line-height: 30px;
    color: $smoke;
  }
  .masters__text {
    max-width: 684px;
    font-size: 17px;
    line-height: 30px;
    color: $dark;
    text-align: center;
  }
}

.masters__wrap {
  margin-top: 71px;
  display: flex;
  .master {
    padding: 80px 160px;
    &:nth-child(odd) {
      border-top: 1px dashed #bfa785;
    }
    &:nth-child(even) {
      border-width: 1px 1px 0 1px;
      border-style: dashed;
      border-color: #bfa785;
    }
  }
}

.master {
  .master__name {
    margin-top: 24px;
    margin-bottom: 4px;
    font-family: "Jost", sans-serif;
    font-size: 30px;
    line-height: 36px;
    color: $dark;
  }
  .master__job {
    font-family: "Ibarra Real Nova", serif;
    font-style: italic;
    font-size: 19px;
    line-height: 30px;
    color: $smoke;
  }
}
